body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }
        .container {
            max-width: 1200px;
            margin: auto;
            overflow: hidden;
            padding: 0 20px;
        }
        .header {
            text-align: center;
            padding: 20px 0;
        }
        .header h1 {
            margin: 0;
            color: #333;
        }
        .restaurants {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .restaurant {
            background: #fff;
            margin: 20px;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            flex: 1 1 calc(33% - 40px);
            box-sizing: border-box;
            max-width: calc(33% - 40px);
        }
        .restaurant img {
            width: 100%;
            border-radius: 8px;
        }
        .restaurant h2 {
            margin-top: 10px;
            color: #333;
        }
        .restaurant p {
            color: #666;
        }
        .restaurant a {
            display: inline-block;
            margin-top: 10px;
            text-decoration: none;
            color: #00f;
            font-weight: bold;
        }

            .restaurant a.button {
        display: inline-block;
        margin-top: 10px;
        text-decoration: none;
        color: #fff; /* Cor do texto */
        font-weight: bold;
        background-color: #00f; /* Cor de fundo */
        padding: 10px 20px; /* Espaçamento interno */
        border-radius: 5px; /* Cantos arredondados */
        border: none; /* Remove borda */
        cursor: pointer; /* Cursor de ponteiro */
        transition: background-color 0.3s; /* Transição suave para mudança de cor */
    }


        .restaurant a.button:hover {
            background-color: #005bb5; /* Cor de fundo ao passar o mouse */
    }
        @media (max-width: 768px) {
            .restaurant {
                flex: 1 1 calc(50% - 40px);
                max-width: calc(50% - 40px);
            }
        }
        @media (max-width: 480px) {
            .restaurant {
                flex: 1 1 100%;
                max-width: 100%;
            }
        }
